<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/> 
    <script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
  	<%if(isLogin){%>
  		<h1>欢迎<%= username %><a href="/loginout">退出</a></h1>
  	<%}else{%>
  		<h1><a href="/login">请登录</a></h1>
    <%}%>
    <p>Welcome to</p>
  </body>
</html>
